<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Your own Mailbox</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="to" placeholder="To" required="required" />
    	<input type="text" name="subject" placeholder="Subject" required="required" />
        <input type="text" name="body" placeholder="Body" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Send</button>
    </form>

   <br>
   <br>
   <h2>{{ prediction_text }}</h2>

 </div>

<h1> Details of the prediction</h1><br>
Spam confidence by the model : {{ spam_score }}<br>
Non-Spam confidence by the model : {{ non_spam_score }}<br>
Words with scores : {{ results}} <br>

</body>
</html>
